<div class="center jumbotron">
    <h1>Welcome to Pundit Rank</h1>

    <%= link_to "About", '/about', class: "btn btn-lg btn-primary" %>
    <%= link_to "Pundits", '/pundits', class: "btn btn-lg btn-primary" %>
</div>
