<p id="notice"><%= notice %></p>

<h1>Pundits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pundits.each do |pundit| %>
      <tr>
        <td><%= link_to pundit.name, pundit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pundit', new_pundit_path %>
