<p id="notice"><%= notice %></p>

<h1>Pundits</h1>


<% @pundits.each do |pundit| %>
    <div class="border border-box glassy-bg mt pt">
        <%= link_to pundit.name, pundit %>
    </div>
<% end %>

<br>

<%= link_to 'New Pundit', new_pundit_path %>
