<div id="myProgress" style="background-color:grey; position:relative; width:90px; height:20px">
    <%= content_tag :div, style: "background-color:green; position:relative; width:" + review.rating.to_s + "%; height:20px" do %>
	<%= review.rating %>
    <% end %>
</div>
