<div id="myProgress" style="background-color:grey; position:relative; width:90px; height:20px">
    <div id="myBar" style="background-color:green; position:relative; width:90px; height:20px">
	<%= review.rating %>
    </div>
</div>
